---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main class="flex min-h-screen items-center justify-center">
    <h1 class="text-5xl font-bold text-red-600">
      Tailwind is working ✅
    </h1>
  </main>
</Layout>
